@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/*Colors*/
:root {
    /*Primary*/
    --orange: hsl(25, 97%, 53%);

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%)
}

/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/*Wrapper*/
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--very-dark-blue);
}

/*Card*/
.card {
    width: 410px;
    height: 420px;
    background-image: linear-gradient(#202731, #171e28);
    border-radius: 30px;
    border: 1px solid var(--very-dark-blue);
    padding: 35px;
}

/*Rating card*/
.rating-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.rating-card__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-card__title {
    font-size: 28px;
    font-weight: 700;
    color: var(--white);
}

.rating-card__desc {
    color: var(--light-grey);
    line-height: 1.6em;
    margin-top: -15px;
}

.rating-cart__ranking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.rating-cart__score {
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    color: var(--light-grey);
    font-weight: 700;
    cursor: pointer;
}

.rating-cart__score:hover {
    background-color: var(--orange);
    color: var(--white);
}

.rating-card__submit {
    text-align: center;
    color: var(--white);
    background-color: var(--orange);
    padding: 12px 0;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 15px;
}

.rating-card__submit:hover {
    background-color: var(--white);
    color: var(--orange);
}

.active {
    background-color: var(--medium-grey);
    color: var(--white);
}

/*Thank card*/
.thank-card {
    display: none;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thank-card__rating {
    background-color: var(--dark-blue);
    color: var(--orange);
    padding: 6px 20px;
    border-radius: 20px;
    text-align: center;
}

.thank-card__title {
    color: var(--white);
    font-weight: 700;
    font-size: 28px;
    margin-bottom: -20px;
}

.thank-card__desc {
    color: var(--light-grey);
    text-align: center;
    line-height: 1.6em;
}

/*Responsive*/
@media screen and (max-width: 375px) {
    .card {
        width: 335px;
        height: 360px;
        padding: 18px;
        border-radius: 20px;
    }

    .rating-card {
        gap: 20px;
    }

    .rating-card__icon {
        width: 40px;
        height: 40px;
    }

    .rating-card__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .rating-cart__score {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .rating-card__submit {
        font-size: 14px;
    }

    .thank-card {
        gap: 20px;
    }

    .thank-card__icon img {
        width: 90%;
    }

    .thank-card__rating {
        padding: 6px 10px;
    }

    .thank-card__title {
        font-size: 24px;
        margin-bottom: -10px;
    }
}